.vs
.vscode/tasks.json
TheOtherRoles/bin/Debug/netstandard2.1/0Harmony.dll
TheOtherRoles/bin/Debug/netstandard2.1/Assembly-CSharp-firstpass.dll
TheOtherRoles/bin/Debug/netstandard2.1/Assembly-CSharp.dll
TheOtherRoles/bin/Debug/netstandard2.1/AssemblyUnhollower.dll
TheOtherRoles/bin/Debug/netstandard2.1/BepInEx.Core.dll
TheOtherRoles/bin/Debug/netstandard2.1/BepInEx.Core.xml
TheOtherRoles/bin/Debug/netstandard2.1/BepInEx.IL2CPP.dll
TheOtherRoles/bin/Debug/netstandard2.1/BepInEx.IL2CPP.dll.config
TheOtherRoles/bin/Debug/netstandard2.1/BepInEx.Preloader.Core.dll
TheOtherRoles/bin/Debug/netstandard2.1/BepInEx.Preloader.Core.xml
TheOtherRoles/bin/Debug/netstandard2.1/Hazel.dll
TheOtherRoles/bin/Debug/netstandard2.1/Iced.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2Cpp.TlsAdapter.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppDumper.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppMono.Security.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2Cppmscorlib.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.Configuration.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.Core.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.Data.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.Net.Http.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.Numerics.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.Runtime.Serialization.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.Xml.dll
TheOtherRoles/bin/Debug/netstandard2.1/Il2CppSystem.Xml.Linq.dll
TheOtherRoles/bin/Debug/netstandard2.1/Mono.Cecil.dll
TheOtherRoles/bin/Debug/netstandard2.1/Mono.Cecil.Mdb.dll
TheOtherRoles/bin/Debug/netstandard2.1/Mono.Cecil.Pdb.dll
TheOtherRoles/bin/Debug/netstandard2.1/Mono.Cecil.Rocks.dll
TheOtherRoles/bin/Debug/netstandard2.1/MonoMod.RuntimeDetour.dll
TheOtherRoles/bin/Debug/netstandard2.1/MonoMod.Utils.dll
TheOtherRoles/bin/Debug/netstandard2.1/Newtonsoft.Json.dll
TheOtherRoles/bin/Debug/netstandard2.1/QRCoder.dll
TheOtherRoles/bin/Debug/netstandard2.1/Reactor.OxygenFilter.dll
TheOtherRoles/bin/Debug/netstandard2.1/Rewired_Core.dll
TheOtherRoles/bin/Debug/netstandard2.1/Rewired_Windows.dll
TheOtherRoles/bin/Debug/netstandard2.1/SemVer.dll
TheOtherRoles/bin/Debug/netstandard2.1/TheOtherRoles.deps.json
TheOtherRoles/bin/Debug/netstandard2.1/TheOtherRoles.dll
TheOtherRoles/bin/Debug/netstandard2.1/TheOtherRoles.pdb
TheOtherRoles/bin/Debug/netstandard2.1/UnhollowerBaseLib.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnhollowerRuntimeLib.dll
TheOtherRoles/bin/Debug/netstandard2.1/Unity.Addressables.dll
TheOtherRoles/bin/Debug/netstandard2.1/Unity.Analytics.DataPrivacy.dll
TheOtherRoles/bin/Debug/netstandard2.1/Unity.ResourceManager.dll
TheOtherRoles/bin/Debug/netstandard2.1/Unity.TextMeshPro.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.AccessibilityModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.AIModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.AndroidJNIModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.AnimationModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.ARModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.AssetBundleModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.AudioModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.ClothModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.ClusterInputModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.ClusterRendererModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.CoreModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.CrashReportingModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.DirectorModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.DSPGraphModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.GameCenterModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.GIModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.GridModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.HotReloadModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.ImageConversionModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.IMGUIModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.InputLegacyModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.InputModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.JSONSerializeModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.LocalizationModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.ParticleSystemModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.PerformanceReportingModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.Physics2DModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.PhysicsModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.ProfilerModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.Purchasing.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.Purchasing.SecurityCore.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.ScreenCaptureModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.SharedInternalsModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.SpriteMaskModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.SpriteShapeModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.StreamingModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.SubstanceModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.SubsystemsModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.TerrainModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.TerrainPhysicsModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.TextCoreModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.TextRenderingModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.TilemapModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.TLSModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UI.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UIElementsModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UIElementsNativeModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UIModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UmbraModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UNETModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityAnalyticsModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityConnectModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityCurlModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityTestProtocolModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestAssetBundleModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestAudioModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestTextureModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestWWWModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.VehiclesModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.VFXModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.VideoModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.VirtualTexturingModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.VRModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.WindModule.dll
TheOtherRoles/bin/Debug/netstandard2.1/UnityEngine.XRModule.dll
TheOtherRoles/CustomOptions.cs
TheOtherRoles/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.AssemblyInfo.cs
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.AssemblyInfoInputs.cache
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.assets.cache
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.csproj.AssemblyReference.cache
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.csproj.CopyComplete
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.csproj.CoreCompileInputs.cache
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.csproj.FileListAbsolute.txt
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.dll
TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.pdb
TheOtherRoles/obj/project.assets.json
TheOtherRoles/obj/project.nuget.cache
TheOtherRoles/obj/TheOtherRoles.csproj.nuget.dgspec.json
TheOtherRoles/obj/TheOtherRoles.csproj.nuget.g.props
TheOtherRoles/obj/TheOtherRoles.csproj.nuget.g.targets
TheOtherRoles/TheOtherRoles.csproj
TheOtherRoles/TheOtherRoles.csproj
TheOtherRoles/TheOtherRoles.csproj
TheOtherRoles/CustomOptions.cs
